<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karyawan</title>
</head>
<body>

    <!-- teknik buka tutup ejs -->
    <table border="1" cellspacing="0" style="text-align: center;" >
<thead>
<th>Nama</th>
<th>Gender</th>
<th colspan="2">aksi</th>
</thead>
<tbody>
    <% for( let i = 0; i < data_karyawan.length; i++ ) { %>
        <tr>
            <td><%= data_karyawan[i].nama %></td>
            <td><%= data_karyawan[i].jenis_kelamin  %></td>
            <td>
                <a href="/karyawan/details/<%= data_karyawan[i].id%>">
                <button style="padding: 8px;">Details</button>
            </a></td>
             <td>
                <a href="/karyawan/hapus/<%= data_karyawan[i].id%>" onclick="return confirm ('hapus karyawan <%= data_karyawan[i].nama%>')">
                <button style="padding: 8px;">Hapus</button>
            </a></td>
        </tr>
        <% } %>
        
    </tbody>
        </table>
<!-- teknik 1 tag ejs -->
<%#
    __append('<ul>')
    for (const i in data_karyawan) {
        __append(`<li>${data_karyawan[i].nama} (${data_karyawan[i].jenis_kelamin})</li>`)
    }
    __append('</ul>')
%>
    
</body>
</html>
